  <div>
    <label>Aktiviert</label>
    <input type="radio" name="activatedFilter" [value]="true" #activatedTrue (click)="filterList($event.target.value)">
    <label>Nicht Aktiviert</label>
    <input type="radio" name="activatedFilter" [value]="false" #activatedFalse (click)="filterList($event.target.value)">
    <button (click)="removeFilter()">Entfernen</button>
    <label> Nachname suchen </label>
    <input type="text" name="keyFilter" #keyFilter (keyup)="startFilteringFrontendOnly(keyFilter.value)">
  </div>
